/****Common style ****/
body{
    background: #ffffff;
    font-family: "Roboto";
}
.btn-grey{
    padding: 9px 15px;
    background: #b9bdbf;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}
.btn-grey:hover{
    color: #ffffff;
    text-decoration: none;
}
/****Common style ****/

/*** Navi ***/
.navbar{
    background-color: rgba(10, 10, 10, 0.3);
}
/*** Navi ***/

/*** Masthead ***/
.carousel-inner div{
    height: 400px;
}
.carousel-slide-1{
    background: url(/img/home-bg.jpg);
}
.carousel-slide-2{
    background: url(/img/about-bg.jpg);
}
.carousel-inner .text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e6f6f;
}
@media (max-width: 575px){
    .carousel-inner div{
        height: 200px;
    } 
}
/*** Masthead ***/

/*** About us ***/

.about-us .about-wrapper{
    background: #bebeb3;
}
.about-us-title{
    padding: 20px 0px;
}
.icon-wrapper{
    max-width: 100px;
    margin: auto;
    display: flex;
    align-items:center;
    height: 100px;
}
.card-wrapper .card{
   height: 100%;
}
/*** About us ***/

/*** Contact us ***/
#mapid { min-height: 300px; }
/*** Contact us ***/

/*** Footer ***/
#footer{
    padding: 20px;
    background: #000000;
   
}
#footer p{
    color: #ffffff;
    font-size: 12px;
}
/*** Footer ***/